# LIBRERIA PANDAS

In [1]:
### IMPORTACION DE LIBRERIAS ###
import pandas as pd
import numpy as np
################################

## Ejercicio 1.0 --> creacion de series numerica con pandas

In [2]:
lista_1 = [1,2,3,4,5]
array_lista_1 = np.array(lista_1)

serie_lista = pd.Series(lista_1)
serie_array = pd.Series(array_lista_1)
serie_directa = pd.Series([1,2,3,4,5])

print (serie_lista)
print(serie_array)
print(serie_directa)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int32
0    1
1    2
2    3
3    4
4    5
dtype: int64

## Ejercicio 1.1 --> creacion de series string con pandas

In [7]:
serie_string = pd.Series(["Fiat","Ford","Toyota","Honda","Chevrlet"], dtype="string")
print(serie_string)

0        Fiat
1        Ford
2      Toyota
3       Honda
4    Chevrlet
dtype: string

In [9]:
diccionario_marcas = {"Fiat":3,"Ford":6,"Toyota":1,"Honda":4,"Chevrlet":7}
serie_dic = pd.Series(diccionario_marcas)
print(serie_dic)

Fiat        3
Ford        6
Toyota      1
Honda       4
Chevrlet    7
dtype: int64

## Ejercicio 1.2 --> Creacion de serie pandas con serie de numpy, con numero aleatorios

In [13]:
rng = np.random.default_rng()
array_random = rng.integers(low=5, high=30, size = 10)
print(array_random)

serie_random = pd.Series(array_random)
print(serie_random)

[ 6 12 29 24 29  7 22  5 19 22]
0     6
1    12
2    29
3    24
4    29
5     7
6    22
7     5
8    19
9    22
dtype: int64

## Ejercicio 1.3 --> Funciones para trabajar con series de panda

In [14]:
numeros = pd.Series(rng.integers(low = 1, high= 25, size = 100))
print(numeros)

0     11
1     23
2     11
3     12
4     21
      ..
95     6
96    13
97    16
98     3
99     1
Length: 100, dtype: int64

Como podemos observar no representa la totalidad de los registros. A continuacion veremos ciertas funciones

### 1- saber cual es el lardo de una serie, es decir cuantos registros tiene

In [17]:
largo = len(numeros)
print("El largo de la serie es --> ",largo)

El largo de la serie es -->  100

### 2- Saber cual es su estructura, es decir cuantos registros y columnas. En este caso una sola columna

In [20]:
estructura = numeros.shape
print("La estructura es --> ", estructura)

La estructura es -->  (100,)

### 3- Saber cual es el tipo de dato que contiene la serie

In [21]:
tipo_dato = numeros.dtype
print("La serie contiene --> ",tipo_dato)

La serie contiene -->  int64

### 4- Visualizar una cantidad x de los primeros registros

In [22]:
primeros_registros = numeros.head(5)
print(primeros_registros)

0    11
1    23
2    11
3    12
4    21
dtype: int64

### 5- Visualizar una cantidad x de los ultimos registros

In [24]:
ultimos_registros = numeros.tail(5)
print(ultimos_registros)

95     6
96    13
97    16
98     3
99     1
dtype: int64

 ## Ejercicio 1.4 --> Visualizacion de registros por indice o por condiciones

### 1- Por indice

In [34]:
rng = np.random.default_rng()
array_valores = rng.integers(low = 1, high = 500, size = 10)
print(array_valores)
index = ["Mendoza","Buenos Aires","San Luis","San Juan","Cordoba","Neuquen","Santa Fe","Jujuy","Chubut","Salta"]

serie_provincias = pd.Series(array_valores,index = index)
print(serie_provincias)

[ 85 395  62 193 274 435 486 145 338 369]
Mendoza          85
Buenos Aires    395
San Luis         62
San Juan        193
Cordoba         274
Neuquen         435
Santa Fe        486
Jujuy           145
Chubut          338
Salta           369
dtype: int64

si queremos visualizar tanto el index como el valor de la posicion 0, hacemos lo siguiente

Si deseamos visualizar otra posicion, simplemente cambiamos el cero por la posicion que sea necesaria

Es util recordar que si el valor de la posicion es negativo, desde 1 en adelante, se recorre la serie de atras para adelante

In [14]:
print(serie_provincias.index[0])
print(serie_provincias.iloc[0])

Meandoza
357

Si deseamos visualizar un rango de posiciones, recordemos qu se utilizan los dos puntos " : " si utilizamos los dos puntos,

se visualzará tanto los valores como el index

Recordar que si no se pone numero inicial, se toma q es cero y si colocamos negativos son de atras para adelante

In [13]:
print(serie_provincias.iloc[2:6])

San Luis    172
San Juan     79
Cordoba     388
Neuquen     231
dtype: int64

### 2- Por condicion

In [15]:
print(serie_provincias[serie_provincias > 300])

Meandoza        357
Buenos Aires    432
Cordoba         388
dtype: int64

In [28]:
print(serie_provincias[(serie_provincias > 300) & (serie_provincias < 400)])

Meandoza    357
Cordoba     388
dtype: int64

### 3- Si queremos visualizar por index

In [35]:
print(serie_provincias["Mendoza"])

85

In [36]:
print(serie_provincias[["Mendoza","Santa Fe","Salta","Cordoba"]])

Mendoza      85
Santa Fe    486
Salta       369
Cordoba     274
dtype: int64

## Ejercicio 1.5 --> Funciones matematicas y estadisticas de pandas

Si se necesita contar elementos, utilizamos lo siguiente

In [38]:
contar = serie_provincias.count()
print(contar)

10

### 1- Si se necesita sumar, utilizamos

In [41]:
suna = serie_provincias.sum()
print(suna)

2782

### 2- Para poder ver el valor maximo y minimno

In [44]:
valor_max = serie_provincias.max()
valor_min = serie_provincias.min()
print("El valor máximo es --> ",valor_max)
print("El valor minimo es --> ",valor_min)

El valor máximo es -->  486
El valor minimo es -->  62

### 3- Para Calcular el promedio

In [45]:
promedio = serie_provincias.mean()
print("El promedio es --> ",promedio)

El promedio es -->  278.2

### 4- Para calcular la varianza

In [46]:
varianza = serie_provincias.var()
print("La varianza es --> ",varianza)

La varianza es -->  22479.733333333334

### 5- Para calcular la desviacion tipica

In [47]:
desviacion_tipica = serie_provincias.std()
print("La desviacion tipica es --> ",desviacion_tipica)

La desviacion tipica es -->  149.93242922507903

### 6- otra funcion muy util es describe, la cual entrega varios valores informativos

In [49]:
descripcion = serie_provincias.describe()
print(descripcion)

count     10.000000
mean     278.200000
std      149.932429
min       62.000000
25%      157.000000
50%      306.000000
75%      388.500000
max      486.000000
dtype: float64

## Ejercicio 1.6 Ordenar una serie

### 1- Ordenar de manera ascendente

In [52]:
serie_provincias_ascendente = serie_provincias.sort_values()
print(serie_provincias_ascendente)

San Luis         62
Mendoza          85
Jujuy           145
San Juan        193
Cordoba         274
Chubut          338
Salta           369
Buenos Aires    395
Neuquen         435
Santa Fe        486
dtype: int64

### 2- Ordenar de manera descendente

In [53]:
serie_provincias_ascendente = serie_provincias.sort_values(ascending = False)
print(serie_provincias_ascendente)

Santa Fe        486
Neuquen         435
Buenos Aires    395
Salta           369
Chubut          338
Cordoba         274
San Juan        193
Jujuy           145
Mendoza          85
San Luis         62
dtype: int64

In [54]:
serie_provincias_ascendente = serie_provincias.sort_index()
print(serie_provincias_ascendente)

Buenos Aires    395
Chubut          338
Cordoba         274
Jujuy           145
Mendoza          85
Neuquen         435
Salta           369
San Juan        193
San Luis         62
Santa Fe        486
dtype: int64

In [55]:
serie_provincias_ascendente = serie_provincias.sort_index(ascending = False)
print(serie_provincias_ascendente)

Santa Fe        486
San Luis         62
San Juan        193
Salta           369
Neuquen         435
Mendoza          85
Jujuy           145
Cordoba         274
Chubut          338
Buenos Aires    395
dtype: int64

In [64]:
index = ["Antonella","Isabella","Martina","Sofia","Leandro","Aldana","Gisella","Sebastian","Gerardo","Graciela","Daniel"]
serie_sector_laboral = pd.Series(["Cobranza","IT","Administracion","IT","IT","Ventas","Ventas","IT","IT","Ventas","Administracion"], index = index)
print(serie_sector_laboral)

Antonella          Cobranza
Isabella                 IT
Martina      Administracion
Sofia                    IT
Leandro                  IT
Aldana               Ventas
Gisella              Ventas
Sebastian                IT
Gerardo                  IT
Graciela             Ventas
Daniel       Administracion
dtype: object

In [69]:
print(serie_sector_laboral.value_counts())

IT                5
Ventas            3
Administracion    2
Cobranza          1
Name: count, dtype: int64

## Ejercicio 1.7 --> fechas

### 1- Separacion de fecha mediante guin medio. Esta funcion va dia por dia desde la fecha de inicio hasta la fecha de cierre

Tener en cuanta que es YYYY-MM-DD --> año - mes- dia

In [75]:
print(pd.date_range(start = '2023-01-01', end = '2023-01-05'))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

#### Separacion de fecha mediante guin medio. Esta funcion va dia por dia desde la fecha de inicio hasta la fecha de cierre

Tener en cunta que es MM/DD/YYYY --> mes / dia / año

In [76]:
print(pd.date_range(start = '01/01/2023', end = '01/05/2023'))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

### 2- Mediante frecuencia

#### FRECUENCIA MEDIANTE ULTIMO ES DEL AÑO

In [80]:
print(pd.date_range(start = '2019', end = '2024', freq = "Y" ))

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

#### FRECUANCIA MEDIANTE ULTIMO DIA DEL MES

In [81]:
print(pd.date_range(start = '2024-01', end = '2024-04', freq = "M" ))

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31'], dtype='datetime64[ns]', freq='M')

#### FRECUANCIA MEDIANTE ULTIMO DIA DEL LA SEMANA

In [82]:
print(pd.date_range(start = '2024-01', end = '2024-04', freq = "W" ))

DatetimeIndex(['2024-01-07', '2024-01-14', '2024-01-21', '2024-01-28',
               '2024-02-04', '2024-02-11', '2024-02-18', '2024-02-25',
               '2024-03-03', '2024-03-10', '2024-03-17', '2024-03-24',
               '2024-03-31'],
              dtype='datetime64[ns]', freq='W-SUN')

#### FRECUANCIA MEDIANTE DIA POR DIA

In [83]:
print(pd.date_range(start = '2024-01-01', end = '2024-01-10', freq = "D" ))

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

## Ejercicio 1.8 --> Combinamos serie numerica con fechas

In [94]:
fechas = pd.date_range(start='2024-01-01', end='2024-01-31', freq='D')
largo = len(fechas)

array_numerico = rng.integers(low=5, high=10, size=largo) 

serie_fechas = pd.Series(array_numerico, index = fechas)
print(serie_fechas)

2024-01-01    7
2024-01-02    8
2024-01-03    8
2024-01-04    8
2024-01-05    5
2024-01-06    9
2024-01-07    5
2024-01-08    7
2024-01-09    8
2024-01-10    9
2024-01-11    5
2024-01-12    7
2024-01-13    7
2024-01-14    5
2024-01-15    8
2024-01-16    8
2024-01-17    5
2024-01-18    9
2024-01-19    7
2024-01-20    9
2024-01-21    9
2024-01-22    7
2024-01-23    8
2024-01-24    8
2024-01-25    8
2024-01-26    5
2024-01-27    6
2024-01-28    8
2024-01-29    5
2024-01-30    8
2024-01-31    9
Freq: D, dtype: int64

In [95]:
print(serie_fechas.describe())

count    31.000000
mean      7.258065
std       1.436842
min       5.000000
25%       6.500000
50%       8.000000
75%       8.000000
max       9.000000
dtype: float64